 @model BuayaManagement.Models.TblDocumentRequest

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
@*<style>
    body {
        display: flex;
        flex-direction: column;
    }

    .body{
        display: flex;
        flex-direction: row;
    }

    .left{
        flex: 10%;
        border: 1px solid red;
    }

    .right{
        flex 90%;
    }

</style>
<div class="header">
</div>

<div class="body">
    <div class="left">
        hahahahaha
    </div>
    <div class="right">
        asdsad
    </div>
</div>

<div class="footer">
</div>
<script>
    document.getElementById('print').addEventListener('click', function () {
        print()
    })
</script>
*@

<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ReqDocNameBy)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ReqDocNameBy)
    </dd>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.DocDate)
    </dd>
    @if(Model.DocQty == 0)
    {
        @Html.ActionLink("Get Document", "getdocument", new { id = Model.DocReqId}, new { @class = "btn btn-primary"})
    }
    else
    {
        <h4>Document Quantity</h4>
        <input type="number" name="p_qty" min="1" max="@Html.DisplayFor(model => model.DocQty)" class="form-control" />
        <br />

        @Html.ActionLink("Add Document", "adddocument", new { id = Model.DocReqId}, new { @class = "btn btn-primary"})
    }

    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.TotAmount)
    </dd>

</dl>


<div>
    <a asp-action="" input id="print" type="button" value="Print" onclick="window.print();" class="btn btn-primary" >Print</a> 
    <a asp-action="Index" class="btn btn-danger">Cancel</a>
</div>


