@model BuayaManagement.Models.TblFacilityRequest

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblFacilityRequest</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReqFacNameBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReqFacNameBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FacDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FacDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FacQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FacQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fac.FacId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FacReqId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
